<%- layout("layouts/boilerplate") %>

<link rel="stylesheet" href="/css/pages/user/sign-in-up.css">

<main class="row">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="card w-50">
            <div class="card-body">
                <% if(message) { %> 
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <%= message %>
                        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>
                <h5 class="card-title">Sign-in</h5>
                <form action="/login" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="form-label" for="email">Email</label>
                        <input class="form-control" type="text" name="email" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="form-label" for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password" required>
                    </div>
                    <hr>
                    <button id="sign-in" class="btn btn-success">Sign-in</button>
                </form>
            </div>
        </div>
    </div>
</main>