<%- layout("layouts/boilerplate") %>

<link rel="stylesheet" type="text/css" href="/css/pages/user/profile.css" />

<main class="row">
	<ul>
		<% for(let i = 0; i < characters.length; i++) { %>
		<li><%= characters[i].username %></li>
		<% } %>
	</ul>
</main>
